#header {
    background-color: olive;
    text-align: center;
    height: 200px;
    border-radius: 30px;
}

#content{
    border-radius: 30px;
    border-style: dashed;
    padding: 20px 20px 20px 20px;
}

label{
    width:  5em;
    display: inline-block;
    vertical-align: middle;
    float: none;
}



#alter{
    background-color: #aa87f2;
    border-style: dotted;
    position:relative;
    margin-bottom: 5px;
}
#vname{
    height: 40px;
    width: 200px;

    font-size: 15px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 5px;

}

#nname{
    height: 50px;
    width: 250px;
    font-size: 20px;

    text-align: left;
    margin-bottom: 5px;

}

#button{
    border-color: black;
    background-color: gainsboro;
    color: black;
    width: 250px;
    height: 100px;
    margin-left: 84px;
}

table {
    margin: 10px 10px 10px 10px;
}
tr,td {
    width: 40px;
    height: 40px;
}
.red{
    background-color: red;
}
.grey{background-color: grey}